@media screen and (max-width: 1220px) {
  .textbox h2 {
    font-size: 2.5em;
    line-height: 2.5rem;
  }
  .textbox h2 span {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1120px) {
  .textbox h2 {
    font-size: 2.3em;
    line-height: 2.3rem;
  }
  .textbox h2 span {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 980px) {
  header nav li a {
    font-size: 15px;
  }
  .textbox h2 {
    font-size: 2em;
    line-height: 2rem;
  }
  .textbox h2 span {
    font-size: 2rem;
  }
  .textbox p {
    max-width: 100%;
    font-size: 15px;
  }
}

@media screen and (max-width: 880px) {
  header nav li a {
    font-size: 14px;
  }
  .textbox h2 {
    font-size: 1.7em;
    line-height: 1.7rem;
  }
  .textbox h2 span {
    font-size: 1.7rem;
  }
  .textbox p {
    font-size: 14px;
  }
  .thumb li {
    width: 60px;
  }
}

@media screen and (max-width: 780px) {
  body {
    padding: 1.5em;
  }
  header img {
    max-width: 65px;
  }
  .content {
    flex-direction: column;
    padding: 25px 50px 25px 50px;
  }
  .textbox {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
  }
  .banner {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .banner img {
    max-width: 80%;
  }
  .socialmedia {
    flex-direction: column;
    gap: 5px;
    right: 4%;
    bottom: 10%;
  }
  .thumb {
    position: relative;
    /* bottom: 2%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    gap: 20px;
    width: 100%;
    transition: all 0.8s;
  }
  .thumb li {
    width: 60px;
  }
}

@media screen and (max-width: 680px) {
  header {
    padding: 30px;
  }
  header nav {
    display: none;
  }
  .content {
    padding: 25px 30px;
  }
  .socialmedia li a {
    font-size: 28px;
  }
}

@media screen and (max-width: 570px) {
  header img {
    max-width: 55px;
  }
  .thumb li {
    width: 50px;
  }
  .socialmedia li a {
    font-size: 26px;
  }
}

@media screen and (max-width: 415px) {
  .textbox h2 {
    font-size: 1.5em;
    line-height: 1.5rem;
  }
  .textbox h2 span {
    font-size: 1.5rem;
  }
  .textbox p {
    font-size: 13px;
  }
  .thumb {
    gap: 8px;
  }
  .thumb li {
    width: 40px;
  }
  .socialmedia li a {
    font-size: 24px;
  }
}

@media screen and (max-width: 460px) {
  .textbox h2 {
    font-size: 1.4em;
    line-height: 1.4rem;
  }
  .textbox h2 span {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 280px) {
  header {
    padding: 15px;
  }
  header img {
    max-width: 45px;
  }
  .circlesection {
    clip-path: circle(27% at 95% 90%);
  }
  .textbox h2 {
    font-size: 0.9em;
    line-height: 0.9rem;
  }
  .textbox h2 span {
    font-size: 0.9rem;
  }
  .textbox p {
    font-size: 10px;
  }
  .textbox a {
    font-size: 14px;
  }
  .thumb li {
    width: 40px;
  }
  .socialmedia li a {
    font-size: 18px;
  }
}
