@media (min-width: 400px) {
  section {
    grid-template-rows: 15vh 80vh;
    width: 90vw;
    height: 95vh;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
  }
  header nav {
    display: none;
  }
  header img {
    max-width: 65px;
  }
  .content {
    grid-column: 1 / -1;
    padding: 10px 15px;
    flex-direction: column;
  }
  .textbox {
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
  .textbox h2 {
    font-size: 1.7em;
    font-weight: 500;
    line-height: 1.7rem;
  }
  .textbox h2 span {
    font-size: 1.7rem;
  }
  .textbox p {
    text-align: center;
    max-width: 100%;
    font-size: 15px;
  }
  .banner {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }
  .banner img {
    position: relative;
    max-width: 70%;
  }
  .thumb li img {
    max-width: 50px;
  }
  .socialmedia {
    display: none;
  }
  .circlesection {
    clip-path: circle(33% at 50% 100%);
  }
}
