@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 55px;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ebebeb;
  border-radius: 30px;
}
header {
  position: relative;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  padding: 15px 40px 0 30px;
}
header img {
  max-width: 90px;
}
header nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav li {
  list-style: none;
}
header nav li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.content {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 70px 40px; 
  height: max-content;
}
.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 47%;
}
.textbox h2 {
  font-size: 2.7em;
  font-weight: 500;
  line-height: 1.1em;
  color: #333;
}
.textbox h2 span {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ea4c38;
}
.textbox a {
  text-decoration: none;
  width: max-content;
  color: white;
  background-color: #ea4c38;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
}
.content img {
  max-width: 40%;
}
.thumb {
  position: absolute;
  bottom: 7%;
  left: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  gap: 10px;
  padding: 10px 0;
  transition: all 0.8s;
  transform: translateX(-50%);
}
.thumb li {
  list-style: none;
  cursor: pointer;
}
.thumb li:hover {
  transform: translateX(50%);
  transform: scale(1.2);
  transition: all 0.8s;
}
.thumb li img {
  max-width: 85px;
}
.socialmedia {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 40%;
}

