@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ebebeb;
  border-radius: 30px;
}
header {
  position: relative;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  padding: 15px 40px 0 30px;
}
header img {
  max-width: 90px;
}
header nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav li {
  list-style: none;
}
header nav li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}
.content {
  position: relative;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: max-content;
}
.thumb {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
}
.socialmedia {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 40%;
}
