@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  padding: 40px 60px;
  background-color: #e0d7ca;
}
/* .circleboby1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d7c6b0;
  clip-path: circle(10% at 0% 18%);
} */
/* .circlebody2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #d7c6b0;
  clip-path: circle(8% at 100% 0%);
} */
section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 30px;
  box-shadow: 15px 15px 20px rgba(15, 15, 15, 0.315),
    -15px -15px 20px rgba(255, 255, 255, 0);
}
.circlesection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ea4c38;
  clip-path: circle(33% at 95% 90%);
  border-radius: 30px;
}
header {
  position: relative;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  padding: 15px 55px 0 30px;
}
header img {
  max-width: 90px;
}
header nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav li {
  list-style: none;
}
header nav li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
header nav li a span {
  color: #ffffff;
  background-color: #ea4c38;
  padding: 8px 18px;
  border-radius: 30px;
}
header nav li a span:hover {
  background-color: #ebebeb;
  color: #ea4c38;
  border: 1px solid #ea4c38;
  transition: all 0.5s;
}
.content {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 70px 40px;
  height: max-content;
}
.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 45%;
}
.textbox h2 {
  font-size: 2.7em;
  font-weight: 500;
  line-height: 1.1em;
  color: #333;
}
.textbox h2 span {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ea4c38;
}
.textbox a {
  text-decoration: none;
  width: max-content;
  color: white;
  background-color: #ea4c38;
  padding: 10px 20px;
  margin-top: 3em;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
}
.content img {
  position: relative;
  width: 45%;
}
.thumb {
  position: absolute;
  bottom: 1%;
  left: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  gap: 10px;
  padding: 10px 0;
  transition: all 0.8s;
  transform: translateX(-50%);
}
.thumb li {
  list-style: none;
  cursor: pointer;
}
.thumb li:hover {
  transform: translateX(50%);
  transform: scale(1.2);
  transition: all 0.8s;
}
.thumb li img {
  max-width: 85px;
}
.socialmedia {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  top: 8.5%;
  list-style: none;
  padding: 14px;
}
.socialmedia li a {
  font-size: 32px;
  color: #ea4c38;
}
